Package: com.i0stweak3r.yourdismissedthankyou
Name: YourDismissedTY
Author: i0s_tweak3r
Description: Hides a common type of view system wide.
Depends: mobilesubstrate
Maintainer: i0s_tweak3r <djvs23@gmail.com>
Architecture: iphoneos-arm64
Section: Tweaks
Version: 0.0.1r

